<h1>Landing</h1>
<ul>
  <li><a href="/first">First Message</a></li>
  <li><a href="/second">Second Message</a></li>
  <li><a href="/third">Third Message</a></li>
</ul>

<% if(message && message.length > 0){ %>
<p><%= message %></p>
<% } %>
