<h1>Login</h1>

<form action="/login" method="POST">
  <label for="">Username</label>
  <input type="text" name="username" />
  <label for="">Password</label>
  <input type="password" name="password" />
  <button>Submit</button>
</form>

<ul>
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout</a></li>
  <li><a href="/">Home</a></li>
</ul>
