<h1>Register</h1>

<form action="/register" method="POST">
  <label for="">Username</label>
  <input type="text" name="username" />
  <label for="">Password</label>
  <input type="text" name="password" />
  <button>submit</button>
</form>

<nav>
  <li><a href="/">Home</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout</a></li>
</nav>
