<h1>Landing</h1>

<ul>
  <li><a href="/first">First message</a></li>
  <li><a href="/second">Second message</a></li>
  <li><a href="/third">Third message</a></li>
</ul>

<% if(message){ %>
<h4><%= message %></h4>
<% } %>
